name: CI
on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: dev
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
        sqlalchemy-version: ["1.3.0", "1.4.0", "2.0.0"]

    steps:
      - uses: actions/checkout@v2
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --extra postgres --extra s3

      - name: Install specific sqlalchemy version
        run: uv pip install 'sqlalchemy~=${{ matrix.sqlalchemy-version }}'

      - name: Run linters
        if: ${{ matrix.sqlalchemy-version == '1.4.0' }}
        run: make lint

      - name: Run tests
        run: make test

      - name: Store test result artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python=${{ matrix.python-version }}-sqlalchemy=${{ matrix.sqlalchemy-version }}
          path: coverage.xml

      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: python=${{ matrix.python-version }}
          files: coverage.xml

  finish:
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Join
        run: echo Done
